#book_cover{
	float: left;
	height: 400px;
	margin-right: 60px;
}

#asch_conformity{
	background-color: white;
}

.imageBox{
	float: right;
	margin-left: 60px;
	padding: 20px;
}

.reveal section img.plain-figure{
	border: none;
	background-color: transparent;
}